@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,600&display=swap");
#root {
  /* background-color: aqua; */
  padding: 0%;
}
body {
  font-family: "Poppins", sans-serif;
}
.App {
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: blueviolet; */
}
.heading {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
.components {
  text-align: center;
  width: 100%;
}
.searchbox {
  margin-top: 1%;
}
input {
  font-family: "Poppins", sans-serif;
  width: 60vh;
  height: 5vh;
  border-radius: 20px;
  padding-left: 1%;
  font-size: medium;
}
button {
  width: 10vh;
  height: 6vh;
  margin-left: 2%;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
}

.main {
  /* background-color: beige; */
  width: 100%;
}
.tagline {
  font-size: larger;
  font-weight: 600;
}
.movieTitle {
  font-size: medium;
  font-weight: 500;
}
.poster {
  height: 40vh;
}
.movie {
  width: 100%;
  height: 55vh;
  flex: 25%;
}
.movie-main {
  width: 20%;
  height: 60vh;
  flex: 25%;
}
.result {
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
}
